*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@font-face {
    font-family: 'proxima_nova_ltthin';
    src: url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.eot');
    src: url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.woff2') format('woff2'),
         url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.woff') format('woff'),
         url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.ttf') format('truetype'),
         url('../fonts/Mark Simonson - Proxima Nova Thin-webfont.svg#proxima_nova_ltthin') format('svg');
    font-weight: normal;
    font-style: normal;
}

body{
	background: #77c25b;
	background: linear-gradient(to right, #77c25b, #64bd47);
	font-family: 'proxima_nova_ltthin'
}

#login{
	display: block;	
	width: 450px;
	margin: 0 auto;
	margin-top: 70px;
	padding: 50px 0;
	background-color: #fff;
	border: none;
	box-shadow: 0px 5px 20px rgba(0,0,0,.4);
}
.login-logo{
	display: block;
	width: 150px;
	margin: 0 auto;
}
#login h1{
	text-align: center;
}
.login-form input{

}
