*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	background: #77c25b;
	background: linear-gradient(to right, #77c25b, #64bd47);
	font-family: 'Trebuchet MS', sans-serif;
}
.form{
	margin: 0 auto;
	width: 90%;
	height: auto;
	padding: 40px 0;
	margin-top: 25vh;
	background-color: #fff;
	box-shadow: 0px 5px 20px rgba(0,0,0,.4);
}
.form input, button{
	display: block;
	width: 70%;
	height: 60px;
	margin: 0 auto;
	margin-bottom: 20px;
	border: none;
}
.form input{
	background-color: rgb(242,242,242);
	padding: 10px 15px;
}
.form input::placeholder{
	color: #ccc;
	font-size: 1.2em;
}
.form button{
	background-color: #00b242;
	color: #fff;
	font-size: 18px;
}
p{
	text-align: center;
	color: #ccc;
}
a{
	color: #00b242;
	text-decoration: none;
	margin-left: 5px;
}

@media (min-width: 425px){
	.form{
		width: 400px;
	}
}